*{
    box-sizing: border-box;
}

body {
    background: #363062;
}
.bg-catgory-container-t1{
    background-color: #BEADFA;
}
.bg-catgory-t1{
background-color: #4D4C7d;
}
.bg-li-t1{
background-color: #F99417;
}
